@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-color: #081b29;
  color: white;
  font-family: sans-serif;
} */
.app {
   min-height: 100vh;           /* Que ocupe toda la pantalla */
  background-image: url('../src/assets/Image/v1016-b-09.jpg');
  background-size: cover;      /* Que cubra toda la pantalla */
  background-position: center; /* Centrada */
  background-repeat: no-repeat;
}
